
        
        <link rel="stylesheet" href="./css/layout.css">
    
        <h2 style="width:100%;height: 35vw;background-color: rgb(196, 191, 184);">
            codial|<%=title%>
        </h2>
        
    