


<form method="POST" action="/signup/create">
    <h3>Name</h3>
    <input type="Name" placeholder="Enter Name" name="name">
    <h3>Email</h3>
    <input type="email" placeholder="Enter Email" name="email">
    <h3>Password</h3>
    <input type="password" placeholder="Enter password" name="password">
    <h3>Confirm Password</h3>
    <input type="password" placeholder="Confirm Password" name="confirmPassword">
    <h3>
        <input type="submit" value="Submit">
    </h3>
    


</form>