<form method="POST" action="/signin/createSession">
    
    <h3>Email</h3>
    <input type="email" placeholder="Enter Email" name="email">
    <h3>Password</h3>
    <input type="password" placeholder="Enter password" name="password">
    
    <h3>
        <input type="submit" value="Sign In">
    </h3>
    


</form>